body{
    background-color: #5cdb95;
    text-align: center;
}
#Q2{
    font-family: 'Noto Sans', sans-serif;
    background-color: #05386b;
    color: #8ee4af;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    margin-left: 32.5%;
    width: 35%;
}
form{
    font-weight: bold;
    background-color: #338877;
    width: 35%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    margin-left: 32.5%;
 }
 button{
    background-color: #05386b;
    border: none;
    color: #8ee4af;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
 }
label{
    font-family: 'Noto Sans', sans-serif;
    color:#50db8f;
}

br {
    display: block;
    content: ""; 
    margin-top: 25px; 
 }
 
